<div class="container-fluid bgColor">
    <div class="table-responsive tableDiv">
     <label style="margin-bottom:2%;"><h3>Issue Log</h3></label> 
        <!--<div class="row" class="headerDiv">
          <select [ngModel]="tableHeaderData" (ngModelChange)="HeaderOptionSelect($event);" class="customSelect">
            <option *ngFor="let item of tableHeader; let tableHeaderData = index;" [value]="tableHeaderData">{{item}}</option>
          </select>
          <input type="text" placeholder="Search..." class="customInput">
        </div>-->
       <table class="table table-fixed table-hover table-sortable">
        <thead>
          <tr>
            <th>
              <span style="display:block;">Category</span>
              <span class="subTitle">SubCategory</span>
              <input type="text" class="form-control inputhalfWidth" placeholder="Category" *ngIf="IssueFilterMode" [(ngModel)]="filterCategory">
              <input type="text" class="form-control inputhalfWidth" placeholder="Sub Category" *ngIf="IssueFilterMode" [(ngModel)]="filterSubCategory">
            </th>
            <th>
              <span style="display:block;">Raised To</span>
              <input type="text" class="form-control" placeholder="Raiser To" *ngIf="IssueFilterMode" [(ngModel)]="filterRaisedTo">
            </th>
            <th>
               <span style="display:block;">Location</span>
               <span class="subTitle">Precise Location</span>
               <input type="text" class="form-control" placeholder="Location" *ngIf="IssueFilterMode" [(ngModel)]="filterLocation">
            </th>
            <th>
               <span style="display:block;">Summary</span>
               <input type="text" class="form-control" placeholder="Summary" *ngIf="IssueFilterMode" [(ngModel)]="filterSummary" [disabled]="1==1">
            </th>
            <th>
               <span style="display:block;">Action Taken</span>
               <input type="text" class="form-control" placeholder="Action Taken" *ngIf="IssueFilterMode" [(ngModel)]="filterActionTaken" [disabled]="1==1">
            </th>
            <th>
               <span>Edit</span>
               <!--<input type="text" class="form-control" *ngIf="IssueFilterMode" [disabled]="1==1"/>-->
            </th>
          </tr>
          <th *ngIf="issueList != '';"><button (click)="IssueFilterMode=!IssueFilterMode" class="searchIssue"><span class="glyphicon glyphicon-filter"></span></button></th>
        </thead>
        <tbody>
          <tr *ngFor="let issue of issueList" [hidden]="!issueFilterData(issue)">
            <td>
              <span style="display:block;">{{issue.category.categoryName}}</span>
              <span class="subTitle">{{issue.subCategory.sCategoryName}}</span>
            </td>
            <td>
              <span style="display:block;">{{issue.raisedTo.uName}}</span>
            </td>
            <td>
              <span style="display:block;">{{issue.location.locName}}</span>
              <span class="subTitle">{{issue.precisLocation}}</span>
            </td>
            <td>
              <span style="display:block;">{{issue.summary}}</span>
            </td>
            <td>{{issue.action}}</td>
            
            <td class="tableEdit"  data-toggle="modal" data-target="#myModal4" (click)="editIssue(issue);"><i class="glyphicon glyphicon-edit"></i></td>
          </tr>
        </tbody>
      </table> 
    </div>
    <div class="container">
    <!-- Attendance Modal -->
    <div class="modal fade" id="myModal4" role="dialog" style="margin-top: 4%;">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Edit</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-2">
                 <span class="mainHeading">Category :</span> 
              </div>
              <div class="col-xs-4">
                 <select class="customField form-control" [(ngModel)]="category" (ngModelChange)="prepareSubCategory($event)">
                   <option *ngFor="let item of issueCreateUi.Categories" [value]="item.categoryId">{{item.categoryName}}</option>
                 </select>
              </div>
              <div class="col-xs-2">
                <span class="mainHeading">SubCategory :</span>
              </div>
              <div class="col-xs-4">
                 <select class="customField form-control" [(ngModel)]="subCategory">
                   <option *ngFor="let item of selectedSubCategories" [value]="item.sCategoryId">{{item.sCategoryName}}</option>
                 </select>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-2">
                <span class="mainHeading">Location :</span> 
              </div>
              <div class="col-xs-4">
                 <select class="customField form-control" [(ngModel)]="location">
                   <option *ngFor="let item of issueCreateUi.Locations" [value]="item.locName">{{item.locName}}</option>
                 </select>
              </div>
              <div class="col-xs-2">
                <span class="mainHeading">Precise Location :</span>
              </div>
              <div class="col-xs-4">
                 <input type="text" placeholder="Enter Precise Location" class="customField form-control" [(ngModel)]="preciseLocation">
              </div>
            </div>
            <div class="row">  
              <div class="col-xs-2">
                 <span class="mainHeading">Raised To :</span>
              </div>
              <div class="col-xs-4">
                 <select class="customField form-control" [(ngModel)]="raisedTo">
                   <option *ngFor="let item of issueCreateUi.RaisedTo" [value]="item.uName">{{item.uName}}</option>
                 </select>
              </div>
              <div class="col-xs-2">
                  <span class="mainHeading">Status :</span>
               </div>
                 <div class="col-xs-4">
                 <select class="customField form-control">
                   <option *ngFor="let item of issueCreateUi.Status">{{item.sDesc}}</option>
                 </select>
               </div>
            </div>
            <div class="row">
               <div class="col-xs-2">
                 <span class="mainHeading">Priority :</span>
               </div>
                 <div class="col-xs-4">
                 <select class="customField form-control">
                   <option *ngFor="let item of issueCreateUi.Priority">{{item.description}}</option>
                 </select>
               </div>
               <div class="col-xs-6">
                
              </div>
            </div> 
            <div class="row">
              <div class="col-xs-2">
                  <span class="mainHeading">Issue Summary :</span>
              </div>
                <div class="col-xs-10">
                  <textarea rows="4" cols="50" class="customField form-control" [(ngModel)]="issueSummaryD">
                    
                  </textarea>
                 <!--<input type="textarea" placeholder="Enter Description" class="customField form-control">-->
                </div>  
            </div>
            
            <!--<div class="table-responsive">          
              <table class="table">
                <thead>
                  <tr>
                    <th>Category</th>
                    <th>SubCategory</th>
                    <th>Location</th>
                    <th>preciseLocation</th>
                    <th>Raised To</th>
                    <th>Action Taken</th>
                    <th>Issue Summary</th>
                  </tr>
                </thead>
                <tbody>
                  <tr style="width:100%">
                   
                    <td><input type="text" class="inputResize1" [(ngModel)]="category"/></td>
                    <td><input type="text" class="inputResize2" [(ngModel)]="subCategory"/></td>
                    <td><input type="text" class="inputResize3" [(ngModel)]="location" /></td>
                    <td><input type="text" class="inputResize4" [(ngModel)]="preciseLocation"/></td>
                    <td><input type="text" class="inputResize4" [(ngModel)]="raisedTo"/></td>
                    
                    <td><input type="text" class="inputResize5" [(ngModel)]="actionTaken"/></td>
                     <td><input type="text" class="inputResize5" [(ngModel)]="issueSummaryD"/></td>
                  </tr>
                </tbody>
              </table>
            </div>-->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-dismiss="modal" class="submitBtn">Submit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
    
    
  
  </div>