html, .bgImage{
  height: 100%;
}
.bgImage { 
			background-image: url(../../assets/image/authBg.png);
			background-position: center center;
			background-repeat:  no-repeat;
			/*background-attachment: fixed;*/
			background-size:  cover;
			background-color: #3471A8;
            margin-top: 3.77%;
         
}

.wrapper {
  height: 100%; 
  width: 100%; 
  padding: 20px;
}

.loginDiv {
    padding: 40px;
    /*border: 1px solid #fff;*/
    border-radius: 5px;
    max-width: 40%;
    color: #fff;
    margin-left: 30%;
}

.logoDiv {
  text-align: center;
}
.logoImg{
  background-color: #fff;
  text-align: center;
  margin: 30px 10px 60px 10px;
  border-radius: 5px;
  padding: 10px;
  width: 40%;
}

.loginInput {
    /* background: transparent; */
    width: 100%;
    outline: none;
    border: none;
    color: #000;
    padding-left: 10px;
    border-radius: 5px;
}

.signInButton {
   border: 1px solid #fff;
    border-radius: 5px;
    background: transparent;
    margin: 50px 0px 8px 10px;
    padding: 10px 25px;
    text-align: center;
    cursor: pointer;
}
.signInButton:hover {
   background: #fff;
  color: #000;
}

.forgetButton {
  border: none;
  background: transparent;
  margin: 10px;
  cursor: pointer;
}

.errorDiv {
    color: #e67878;
    text-align: center;
    font-size: 15px;
    position: relative;

}



