<div class="bgImage">
   <div class="wrapper">
      <div>
         <div class="loginDiv">
            <div class="logoDiv">
               <img src="assets/image/logo.png" class="logoImg" (click)="fillDataForDemo()">
            </div>
            <div class="errorDiv">
               <h4 style="margin:0;">{{Error}}</h4>
            </div>
               <p style="padding-left:5px;">UserName :</p>
               <input type="text" class="loginInput" [(ngModel)]="username">
               <br>
               <br>
               <p style="padding-left:5px;">Password :</p>
               <input type="password" class="loginInput" [(ngModel)]="password">
               <br>
               <div style="text-align:center;">
                  <button type="button" class="signInButton" (click)="signIn(username, password);">Sign In</button>
                  <br>
                  <button type="button" class="forgetButton" (click)="forget()">Forget Password ?</button>
               </div>
            
         </div>
      </div>
   </div>
</div>

<!--<div class="container" class="bgImage">
    
        <div class="col-sm-6 col-md-4 col-lg-12">
            <div class="account-wall">
               <div class="logoDiv">
                  <img class="logoImg" src="../../assets/image/logo.png">
               </div>
               <form class="form-signin">
                  <input type="text" class="" placeholder="UserName" autofocus >
                  <input type="password" placeholder="Password">
                  <button class="btn btnsign" type="submit" (click)="logIn();">Sign in</button>
                  <br>
                  <button class="btn btn-success" style="border:none;">Forget Password ?</button>
               </form>
               
            </div>
          
        </div>
   
</div>-->
 
<!--<a routerLink="/auth">Auth</a>
  <a routerLink="/home">Home</a>-->