.bgColor {
  background-color: #3570A8;
  color: #fff;
  box-shadow: 0 0 32px -6px #000;
  padding: 0 20px 0 10px;
}

.whiteColor {
  color: #fff;
}
.pointer {
  cursor: pointer;
}

.padLeft10 {
  padding-left: 7px;
}

.paddingLeft40 {
  padding-left: 40px;
}

.paddingRight20 {
  padding-right: 20px;  
}

.navbar-nav>li {
  outline: none;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: transparent;
  font-size: 15px;
  outline: none;
}

.navToggle {
  border: 1px solid #fff;
}

.iconBar {
  background: #fff;
}

.modal-dialog {
  margin: 70px auto;
}

.tableEdit {
  cursor: pointer;
  padding-left: 15px;
}

.inputResize {
  width: 90%;
  outline: none;
}

//Calendar //

.calRow{
    border: 1px solid lightgrey;
    padding: 10px;
}

.calYear {
    width: 9%;
    border: 1px solid lightgrey;
    text-align: center;
    /* margin-right: 40px; */
    cursor: pointer;
    /* outline: none; */
    border: none;
}

.calMonth {
    width: 90%;
    display: inline-block;
    cursor: pointer;
}

.calMonthDiv {
   /* display: flex;
    flex-direction: row;
    margin-top: 4%;
    border: 1px solid #000;
    padding: 10px;
    background: #fff;
    border-radius: 5px;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 50px;
    border: 1px solid #d0d0d0 ;
    padding: 10px;
    background: rgba(255,255,255,0.9);
    border-radius: 0 0 5px 5px;
    position: fixed;
    width: 97%;
    z-index: 1;
  
   /*display: flex;
    flex-direction: row;
    margin-top: 4%;
    border: 1px solid #000;
    padding: 10px;
    background: #fff;
    border-radius: 5px;*/
}

.calMonthSpan {
    padding: 5px 27px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    cursor: pointer;
    display: inline;
    border-radius: 15px;
}

.calMonthSpan:hover {
    border: 1px solid;
    border-radius: 5px;
    background: #2d7ebd;
    color: #fff;
}

.calYearMonthDiv{
     width: 100%;

   text-align: center;
  
    cursor: pointer;
    margin-top: 25px;
    
}
.buttonYear{
    font-size: 10px;
    margin: 2px;
    background: transparent;
    outline: none;
    border: 1px solid;
    width: 100%;
    
}
.buttonMonth{
     font-size: 10px;
    margin: 2px;
    background: transparent;
    outline: none;
    border: 1px solid;
    width: 100%;
    padding:2px;
    
}
.calYearTitle{
    border: 1px solid;
    margin: 6px 3px;
    padding: 2px 9px;
    border-radius: 15px;
    /*border: 1px solid;
    margin: 6px;
    padding: 2px;
    border-radius: 15px;*/
}

.calYearTitle:hover {
  background: #2d7ebd;
  color: #fff;
}

.dateButton{
    background: transparent; */
    /* border-radius: 50px; */
    -ms-flex-negative: 16;
    /* flex-shrink: 16; */
    /* margin: 10px 10px; */
    /* padding: 7px 10px; */
    /* outline: none; */
    width: 40px;
    height: 40px;
    background: transparent;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin: 5px 10px;
    border: 1px solid;
    outline: none;
    /*background: transparent;
    border: 1px solid;
    border-radius: 50px;
    flex-shrink: 16;
    margin: 10px 15px;
    padding: 5px 9px;
    outline: none;*/
    /* padding: 5px; */
}
.dateButton:hover {
    background: #2d7ebd;
    outline: none;
    color: #fff;
    
}
.dateButtonSeleccted {
   background: #2d7ebd ;
   outline: none;
  color: #fff;
}
.dateButton:focus {
    background: #2d7ebd;
    outline: none;
    color: #fff;
}

.repeatDataDiv{
    line-height: 37px;
}
.caldateSpan{
     padding: 0 30px;
    flex-wrap: wrap;
    cursor: pointer;
    display: inline;
    margin-top: -6px;
}

.loadingDiv {
    opacity: 0.5;
    transition: opacity .8s ease-in-out;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000;
    z-index: 999;
    text-align: center;
}

.loadingIcon {
    opacity: 1;
    z-index: 9999;
    margin-top: 23%;
    width: 3%;
}

calMonthSpanSelected {
    border: 1px solid;
    border-radius: 5px;
    background: #2d7ebd;
    color: #fff;
  }

.customField {
    border-radius: 5px;
    outline: none;
    border: 1px solid lightblue;
}

.errorMsgBG {
    opacity: .8;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000;
    z-index: 999;
    text-align: center;
}

.errorMsgDiv {
    background-color: #F2DEDE;
    padding: 0;
    color: #A94442;
    margin: 250px auto;
    width: 65%;
    height: 8%;
    border-radius: 10px;
    font-size: 20px;
    z-index: 9999;
  
    /*background-color: #fff;
    padding: 0;
    color: red;
    margin: 160px auto;
    width: 50%;
    height: 20%;
    border-radius: 10px;
    font-size: 20px;
    z-index: 9999;*/
}

.errorMsgData {
   padding: 15px 0 0 0;
}

.closeBtn {
    float: right;
    margin: 10px;
    color: #000;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}