<div class="container-fluid">
  <nav class="navbar navbar-fixed-top bgColor">
    <div class="container-fluid">
      <div class="navbar-header paddingRight20">
        <button type="button" class="navbar-toggle navToggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar iconBar"></span>
          <span class="icon-bar iconBar"></span>
          <span class="icon-bar iconBar"></span> 
        </button>
        <a class="navbar-brand whiteColor" [routerLink] = "['/home']">PCM Admin</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar" style="text-align:center;">
        <ul class="nav navbar-nav">
          <li class="active" *ngIf="appdataService.userData.username!=''" (click)="goToHome(appdataService.fullDate, appdataService.fullDate)"><a class="whiteColor pointer">Home <span class="glyphicon glyphicon-home"></span></a></li>

          <li data-toggle="modal" data-target="#myModal2" class="active" *ngIf="appdataService.userData.username!=''"><a class="whiteColor pointer" (click)="getCalender()">{{appdataService.sampleDate}} <span class="glyphicon glyphicon-calendar"></span></a></li>
          <li data-toggle="modal" data-target="#myModal1" (click)="searchData()" *ngIf="appdataService.userData.username!=''"><a class="whiteColor pointer">Search <span class="glyphicon glyphicon-search"></span></a></li>
          <li  [routerLink] = "['/attendance']" (click)="getAddAttendance();" *ngIf="appdataService.userData.username!=''"><a class="whiteColor pointer">Attendance <span class="glyphicon glyphicon-plus"></span></a></li>
          <li  [routerLink] = "['/Issuelog']" (click)="issueLog();" *ngIf="appdataService.userData.username!=''"><a class="whiteColor pointer">Issue Log <span class="glyphicon glyphicon-info-sign" style="top:3px;"></span></a></li>
          <!-- <li><p><strong>{{idleState}}</strong></p></li>
          <li><p *ngIf="lastPing"><small>Last keepalive ping <strong>{{lastPing | amTimeAgo}}</strong></small></p></li>
          <li><button (click)="reset()" *ngIf="timedOut">Restart</button></li> -->
          
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <!--<li *ngIf="appdataService.userData.username==''"  (click)="login();"><a class="whiteColor pointer"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->
          <li *ngIf="appdataService.userData.username!=''" (click)="signOut();"><a class="whiteColor pointer"><span class="glyphicon glyphicon-log-in"></span> Sign Out</a></li>
          <li *ngIf="appdataService.userData.username!=''"><a class="whiteColor"><span class="glyphicon glyphicon-user"></span> {{appdataService.userData.username}}</a></li>
        </ul>
      </div>
    </div>
  </nav>
  
<div class="calMonthExternalDiv"> 
  <div class="calMonthDiv" *ngIf="appdataService.calenderShow">
    <div class="calYear">
      <div class="calYearTitle" *ngIf="selectedIndex==3" (click)="showDiv(2);">{{loadMonth}}</div>
      <div class="calYearTitle"  (click)="showDiv(1);">{{loadYear}}</div>
    </div>
    <div class="repeatDataDiv" *ngIf="selectedIndex==1">
      <div class="calMonthSpan" *ngFor= "let year of yearArray" (click)="showDiv(2); showYear(year);">{{year}}</div> 
    </div>
    <div class="repeatDataDiv" *ngIf="selectedIndex==2">
      <div class="calMonthSpan" *ngFor= "let item of monthArray" (click)="showDiv(3);  getDay(item.index,loadYear,item.month)">{{item.month}}</div>
    </div>
    <div class="caldateSpan" *ngIf="selectedIndex==3">
      <button *ngFor= "let date of dateArray" class="dateButton" type="button" (click)="getDate(date);">{{date}}</button>
    </div>    
  </div>
</div>

<!--<div>
  <p style="color:red;">{{errorMsg}}</p>
</div>
  -->

  <div class="container">
    <!-- Search Modal -->
    <div class="modal fade" id="myModal1" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Search</h4>
          </div>
          <div class="modal-body">
            <div class="row"> 
              <div class="col-xs-6">
                <div class="col-xs-4">
                  <label>FROM Date : </label>
                </div>
                <div class="col-xs-6">
                  <input type="date" placeholder="Enter Date" [(ngModel)]="fromDateValue" class="customField"> 
                </div>
              </div>
              <div class="col-xs-6">
                <div class="col-xs-4">
                  <label>To Date : </label>
                </div>
                <div class="col-xs-6">
                  <input type="date" placeholder="Enter Date" [(ngModel)]="toDateValue" class="customField">
                </div>
              </div>
            </div>
            <br>
            <div class="row"> 
              <div class="col-xs-6">
                <div class="col-xs-4">
                  <label>DEPT : </label>
                </div>
                <div class="col-xs-6">
                  <select  [(ngModel)]="deptValue" (ngModelChange)="departSelectedId(deptValue)" class="customField">
                    <option [value]="0">Select Dapartment</option>
                    <option  *ngFor="let item of searchResponseData" [value]=item.deptId>{{item.deptNm}}</option>
                  </select>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="col-xs-4">
                  <label>ROOM : </label>
                </div>
                <div class="col-xs-6">
                  <select [(ngModel)]="roomValue" class="customField">
                    <option></option>
                    <option *ngFor="let item of roomData" [value]="item.rId">{{item.rName}}</option>
                  </select>
                </div>
              </div>
            </div>
            <br>
            <div class="row"> 
              <div class="col-xs-6">
                <div class="col-xs-4">
                  <label>Consultant : </label>
                </div>
                <div class="col-xs-6">
                  <select [(ngModel)]="doctorValue" class="customField">
                    <option></option>
                    <option *ngFor="let item of doctorsDepartName" [value]="item.dId">{{item.dName}}</option>
                  </select>
                </div>
              </div>
              <div class="col-xs-6">

              </div>
            </div>
            <br>
            <br>
            <div class="row">
              <div class="col-xs-12 text-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="SearchFilter(fromDateValue, toDateValue, deptValue, roomValue, doctorValue);">SEARCH</button>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Attendance Modal -->
  <!--<div class="container">
    <div class="modal fade" id="myModal2" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Date</h4>
          </div>
          <div class="modal-body">
            <div class="calMonthExternalDiv"> 
              <div class="calMonthDiv" *ngIf="appdataService.calenderShow">
                <div class="calYear">
                  <div class="calYearTitle" *ngIf="selectedIndex==3" (click)="showDiv(2);">{{loadMonth}}</div>
                  <div class="calYearTitle"  (click)="showDiv(1);">{{loadYear}}</div>
                </div>
                <div class="repeatDataDiv" *ngIf="selectedIndex==1">
                  <div class="calMonthSpan" *ngFor= "let year of yearArray" (click)="showDiv(2); showYear(year);">{{year}}</div>
                </div>
                <div class="repeatDataDiv" *ngIf="selectedIndex==2">
                  <div class="calMonthSpan" *ngFor= "let item of monthArray" (click)="showDiv(3);  getDay(item.index,loadYear,item.month)">{{item.month}}</div>
                </div>
                <div class="caldateSpan" *ngIf="selectedIndex==3">
                  <button *ngFor= "let date of dateArray" class="dateButton" type="button" (click)="getDate(date);">{{date}}</button>
                </div>    
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>-->
  
    <div class="loadingDiv" *ngIf="appdataService.lodingIconShow">
      <img class="loadingIcon" src="assets/image/loadingIcon3.gif">
    </div>
      
    <div class="errorMsgBG" *ngIf="appdataService.errorDiv">
        <div class="errorMsgDiv">
            <button type="button" class="closeBtn" (click)="appdataService.autoClose();">X</button>
            <p class="errorMsgData">{{appdataService.errorMsg}}</p>
        </div>
    </div>
    
  
</div>



<router-outlet></router-outlet>

