<div class="container data">
  <div class="row" style="text-align:center;">
   <label><h3>Add Attendance</h3></label>
  </div>
  <br>
  <div class="row"> 
    <div class="col-xs-3">
                <div class="col-xs-4">
                  <label>DEPT : </label>
                </div>
                <div class="col-xs-6">
                  <select [(ngModel)]="attendanceDept" style="width:149px;" class="customField">
                    <option *ngFor="let dept of appdataService.addAttendanceDept" [ngValue]="dept.dept_id">{{dept.dept_name_eng}}</option>
                  </select>
                </div>
              </div>
  <div class="col-xs-3">
                <div class="col-xs-4">
                  <label>SHIFT : </label>
                </div>
                <div class="col-xs-6">
                  <select [(ngModel)]="attendencShift" class="customField">
                    <option value="1">Morning</option>
                    <option value="2">Noon</option>
                  </select>
                </div>
              </div>
    
     <div class="col-xs-3">
          <div class="col-xs-4">
            <label>Date : </label>
          </div>
          <div class="col-xs-6">
            <input [(ngModel)]="attendanceDate" type="date"  class="customField">
      </div>
    </div>
    <div class="col-xs-3">
          <button class="btn btn-primary" type="button" (click)="getAttendanceData(attendanceDept,attendencShift,attendanceDate);">FETCH</button>
    </div>

  </div>
  
  <div class="container">
    <div class="table-responsive" style="margin-top:7%;">        
      <table class="table">
        <thead>
          <tr>
            <th>Room</th>
            <th>Designation</th>
            <th>Doctor</th>
            <th>In-Time</th>
            <th>Out-Time</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of attendenceDataArr; let itemIndex=index;">
            <td>{{item.roomName}}</td>
            <td>
              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary" [ngClass]="{'active': (item.designation!='SR' && item.designation!='JR')}" (click)="item.designation='Consultant'">
                    <input type="radio" [(ngModel)]="item.designation" name="options{{itemIndex}}" value="Consultant"> C
                </label>
                <label class="btn btn-primary" [ngClass]="{'active': (item.designation=='SR')}" (click)="item.designation='SR'">
                    <input type="radio" [(ngModel)]="item.designation" name="options{{itemIndex}}" value="SR"> S
                </label>
                <label class="btn btn-primary" [ngClass]="{'active': (item.designation=='JR')}" (click)="item.designation='JR'">
                    <input type="radio" [(ngModel)]="item.designation" name="options{{itemIndex}}"  value="JR"> J
                </label>
              </div>
           </td>
           <td *ngIf="item.designation!='SR' && item.designation!='JR'"><select style="width:281px;" [(ngModel)]="item.docId">
                 <option *ngFor="let doc of attendenceDataArr[0].doctors" [value]="doc.docId">{{doc.doctorName}}</option>
             </select>
           </td>
            <td *ngIf="item.designation=='SR'">
              <input style="width:281px;" type="text" paceholder="SR" [(ngModel)]="item.doctorName">
            </td>
             <td *ngIf="item.designation=='JR'">
              <input style="width:281px;" type="text" paceholder="JR" [(ngModel)]="item.doctorName">
            </td>
            <td><input type="time" [(ngModel)]="item.signIn"></td>
            <td><input type="time" [(ngModel)]="item.signOut"></td>
            <td class="tableEdit"><i class="glyphicon glyphicon-plus" (click)="addRowInAttendance(item,itemIndex);"></i></td>
            <td class="tableEdit"><i class="glyphicon glyphicon-minus" (click)="deleteRowAttendence(itemIndex);"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div >
          <button class="btn btn-primary submitBtn" type="button" (click)="finalSubmitData();">Submit</button>
    </div>
  </div>
  
  
</div>


