.data {
    background: #fff;
    min-height: 550px;
    margin-top: 6%;
    border-radius: 8px;
    padding-bottom: 20px;
}


.successMsg {
    opacity: 0.5;
    transition: opacity .8s ease-in-out;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000;
    z-index: 999;
    text-align: center;
}

.submitBtn {
    margin: 10px 10px;
}
.tableEdit{
    cursor: pointer;
}

.customField {
    border-radius: 5px;
    outline: none;
    border: 1px solid lightblue;
}

