.bgColor {
    /*background: linear-gradient(to right, rgb(56, 117, 164) -6%, rgb(48, 150, 184) 60%) !important;*/
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2d7ebd+1,2d7ebd+100 */
background: #2d7ebd; /* Old browsers */
background: -moz-linear-gradient(left, #2d7ebd 1%, #2d7ebd 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #2d7ebd 1%,#2d7ebd 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #2d7ebd 1%,#2d7ebd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d7ebd', endColorstr='#2d7ebd',GradientType=1 ); /* IE6-9 */
}

.paddingLeft20 {
    padding-left: 20px;
}

.modal-lg{
  width: 1142px;
}


.inputResize1 {
  width: 100%;
  outline: none;
}

.inputResize2 {
  width: 100%;
  outline: none;
}

.inputResize3 {
  width: 100%;
  outline: none;
}

.inputResize4 {
  width: 100%;
  outline: none;
}

.inputResize5 {
  width: 100%;
  outline: none;
}

.inputResize6 {
  width: 100%;
  outline: none;
}

.inputResize7 {
  width: 100%;
  outline: none;
}

.tableEdit {
  cursor: pointer;
  padding-left: 25px;
}
/*.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 400px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}*/


.tableDiv {
    margin: 6% 4% 2% 4%;
    border: 4px solid #3e7bb5;
    padding: 10px 32px;
    border-radius: 28px;
    background: #ffffff;
  
}

.headerDiv {
  padding: 0 0 12px 20px;
}

.customSelect {
    border-radius: 5px;
    outline: none;
    border: 1px solid lightblue;
    padding: 2px;
    margin: 0 19px 0 0;
}

.customInput {
    border-radius: 5px;
    outline: none;
    border: 1px solid lightblue;
    padding: 1px 0px 1px 8px;
}

.searchHome {
    background: #2d7ebd;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 5px;
    width: 48px;
    height: 34px;
    /* position: fixed; */
    /* top: 170px; */
    /* right: 109px; */
  
    /*background: #2d7ebd;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 5px;
    width: 100px;
    height: 34px;*/
}