<div class="container-fluid bgColor">
    <div class="table-responsive tableDiv">
     <label style="margin-bottom:2%;"><h3>Attendance</h3></label> 
        <!--<div class="row" class="headerDiv">
          <select [ngModel]="tableHeaderData" (ngModelChange)="HeaderOptionSelect($event);" class="customSelect">
            <option *ngFor="let item of tableHeader; let tableHeaderData = index;" [value]="tableHeaderData">{{item}}</option>
          </select>
          <input type="text" placeholder="Search..." class="customInput">
        </div>-->
       <table class="table table-fixed table-hover table-sortable">
        <thead>
          <tr>
            <th>
              <span>Doctors</span>
              <input type="text" class="form-control" *ngIf="filterMode" [(ngModel)]="filterDoctor"/>
            </th>
            <th>
              <span>Rooms</span>
              <input type="text" class="form-control" *ngIf="filterMode" [(ngModel)]="filterRoom"/>
            </th>
            <th>
               <span>Departments</span>
              <input type="text" class="form-control" *ngIf="filterMode" [(ngModel)]="filterDept"/>
            </th>
            <th>
              <span>In</span>
              <input type="text" class="form-control" *ngIf="filterMode" [disabled]="1==1"/>
            </th>
            <th>
              <span>Out</span>
              <input type="text" class="form-control" *ngIf="filterMode" [disabled]="1==1"/>
            </th>
            <th>
              <span>Date</span>
              <input type="text" class="form-control" *ngIf="filterMode" [(ngModel)]="filterDate"/>
            </th>
            <th>
              <span>PCMs</span>
              <input type="text" class="form-control" *ngIf="filterMode" [(ngModel)]="filterPCM"/>
            </th>
            <th *ngIf="appdataService.userData.userRes != '';"><button (click)="filterMode=!filterMode" class="searchHome"><span class="glyphicon glyphicon-filter"></span></button></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of appdataService.userData.userRes; let i=index" [hidden]="!rowFilter(item)">
            <td>{{item.doctorname}}</td>
            <td>{{item.roomno}}</td>
            <td>{{item.department}}</td>
            <td>{{item.singin}}</td>
            <td>{{item.signout}}</td>
            <td>{{item.date}}</td>
            <td>{{item.pcmname}}</td>
            <td class="tableEdit"  data-toggle="modal" data-target="#myModal3" (click)="editAttendance(item, i)"><i class="glyphicon glyphicon-pencil"></i></td>
          </tr>
        </tbody>
      </table> 
    </div>
    
    <div class="container">
    <!-- Attendance Modal -->
    <div class="modal fade" id="myModal3" role="dialog" style="margin-top: 4%;">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Edit</h4>
          </div>
          <div class="modal-body">
            <!--<div class="container">
            
                  <div class="col-xs-2"><input type="text" [ngModel]="appdataService.departObj.doctorname" /></div>
                  <div class="col-xs-2"><input type="text" [value]="appdataService.departObj.roomno" /></div>
                  <div class="col-xs-2"><input type="text" [value]="appdataService.departObj.department" /></div>
                  <div class="col-xs-1"><input type="text" [value]="appdataService.departObj.singin" /></div>
                  <div class="col-xs-1"><input type="text" [value]="appdataService.departObj.signout" /></div>
                  <div class="col-xs-2"><input type="text" [value]="appdataService.departObj.date" /></div>
                  <div class="col-xs-2"><input type="text" [value]="appdataService.departObj.pcmname" /></div>
                
            </div>-->
            
            <div class="table-responsive">          
              <table class="table">
                <thead>
                  <tr>
                    <th>Doctor</th>
                    <th>Room</th>
                    <th>Dept</th>
                    <th>In</th>
                    <th>Out</th>
                  </tr>
                </thead>
                <tbody>
                  <tr style="width:100%">
                    <td><input type="text" class="inputResize1" [(ngModel)]="doctorName" /></td>
                    <td><input type="text" class="inputResize2" [(ngModel)]="roomNo" /></td>
                    <td><input type="text" class="inputResize3" [(ngModel)]="department" /></td>
                    <td><input type="time" class="inputResize4" [(ngModel)]="intime" /></td>
                    <td><input type="time" class="inputResize5" [(ngModel)]="outTime"/></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveAttendance(doctorName,roomNo,department,intime,outTime,date,pcmName)">Save</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  </div>